*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{

    background: #222;
}
.card{
    width: 90%;
    max-width:  530px;
    background: linear-gradient(135deg, #696969, #DDA0DD);
    color: #fff;
    margin: 90px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;  
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 50px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.search button img{
    width: 16px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500; 
}
.weather h2{
    font-size: 45px;
    font-weight: 400; 
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px; 
}
.humidity, .wind{
    font-size: 20px;
    margin-top: -6px;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 12px;
    margin-top: 10px;
    display: none;
}
@media only screen and (max-width: 500px) {
    .card{
        box-sizing: border-box;
        width: 80vw;
        max-width: 80vw;
        padding: 20px 6px;
    }
    .search{
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .search input{
        width: 100%;
        margin: 0px auto;
        padding: 8px 5px;
        height: 45px;
        font-size: 16px;
    }
    .search button{
        margin-top: 10px;
        align-self: self-end;
        height: 35px;
        width: 45px;
        border-radius: 55%;
        border: none;
    }
    .search button img{
        width: 12px;
    }
    }
